<div class="menu">
    <div class="item">
      <a href="/#/home" class="title2">Home</a>
    </div>
    <div class="item">
     <a href="/#/list" class="title2">Characters</a>
    </div>
  </div>

  <div class="container">
    <div class="photo">
     photo
    </div>
    <div>
    <div class="title3">
    <p> <b>Name:</b> {{name}} </p>
    <p> <b>Season:</b> {{season}} </p>
    <p> <b>Chapter:</b> {{chapter}} </p>
    </div>
    </div>
  </div>

<div  class="menu"><a href="/#/list" class="title2">Back</a></div>
